html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Inter", Verdana, Arial, Helvetica, sans-serif;
  min-width: 320px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-list-item {
  margin: 0;
  font-size: 1em;
  line-height: 1.25em;
  font-weight: 300;
  color: #252525;
}

.modal-left {
  border-right: 6px solid rgba(187, 187, 187, 0.703);
}

.modal-right-link-desc {
  padding-top: 8px;
  font-size: 0.75em;
  font-weight: 600;
  color: #6d6d6d;
}

.top-header-nav-link::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 35px;
  width: 0px;
  height: 0px;
  border-radius: 5px;
  transition: 0.3s ease;
}

.top-header-nav-link:hover::before {
  box-shadow: 0 10px 15px 10px rgba(59, 88, 152, 0.3490196078);
}

.logo {
  height: 28px;
}

.header-logo-desc {
  color: #6d6d6d;
  font-size: 0.6875em;
  padding-left: 34px;
}

nav .navbar {
  background: #000;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #4aac33;
  --bs-btn-border-color: #4aac33;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4aac33;
  --bs-btn-hover-border-color: #4aac33;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4aac33;
  --bs-btn-active-border-color: #4aac33;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #4aac33;
  --bs-btn-disabled-border-color: #4aac33;
}

.nav-icon-text {
  font-size: 0.8rem;
}

.disabled .nav-icon-text {
  color: #6d6d6d;
}

.btn-logo-dots {
  display: none;
}

.header {
  padding-bottom: 32px;
}

.header__form {
  width: 30%;
  height: 42px;
}

.search-btn,
.menu-btn {
  border-radius: 0;
  border: var(--bs-border-width) solid var(--bs-border-color);
}

.form-control {
  border-radius: 0;
}

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.1rem;
}

.nav-bottom-text {
  font-family: "Inter", Helvetica, Arial, Sans-Serif;
  font-size: 16px;
  font-size: 0.9375em;
  line-height: 1.6em;
  font-weight: 600;
}

.public-detail__top {
  font-size: 13px;
  line-height: 16px;
}

.hero-back {
  background-image: url("../assets/img/hero-back.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 1200px) {
  .public-detail-container {
    padding: 2rem 4.5rem 3.8rem 4.5rem;
  }
}
.btn-hero {
  padding: 8px 20px;
  background-color: #fff;
  color: #4aac33;
  border: none;
  font-weight: 600;
}

.btn-hero:hover {
  background-color: rgba(182, 184, 181, 0.2235294118);
  color: #4aac33;
}

.hero-right-top-text {
  color: #3b5998;
  max-width: 300px;
  border: 2px solid rgba(109, 109, 109, 0.4196078431);
  transition: all 0.2s ease-in-out;
}
.hero-right-top-text:hover {
  background-color: #ffba00;
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.155);
}
.hero-right-top-text:hover svg {
  fill: #fff;
  transition: all 0.2s ease-in-out;
}

.link-hero {
  color: #60697b;
}
.link-hero:hover {
  color: #4aac33;
}

.pt-6 {
  padding-top: 1.5rem !important;
}

.art-text {
  font-weight: 300;
}

.form-check-input:checked {
  width: 21px;
  height: 21px;
  background-color: #4aac33;
  border: none;
}

input:checked + .form-check-label {
  font-weight: bold;
}

.price-hero-span {
  font-size: 20px;
}

.text-result {
  color: #4aac33;
  line-height: 1.7rem;
  font-size: 36px;
}

.btn-add-basket {
  padding: 12px 24px;
  font-weight: 600;
}

.nav-tabs {
  border: none;
}

.nav-tabs .nav-link {
  margin-bottom: 20px;
  border: none;
  border: none;
  color: #333333 !important;
  padding: 0rem;
  padding-bottom: 4px;
  line-height: 1.25;
  font-weight: 400;
  font-size: 1rem;
}

.nav-tabs .nav-item:not(:last-child) {
  margin-right: 17px;
}

.nav-tabs .nav-link.active {
  border-bottom: 2px solid #4aac33;
  font-weight: 600;
}

.title-more {
  margin-bottom: 32px;
}

.link-primary {
  color: #4aac33;
}

.link-dark strong {
  font-weight: 700;
  color: #343f52;
  word-spacing: 0.1rem;
  letter-spacing: -0.01rem;
}
.link-dark strong:hover {
  color: #4aac33 !important;
}

.card {
  box-shadow: 0 0 0 0.05rem rgba(8, 60, 130, 0.06), 0rem 0rem 1.25rem rgba(30, 34, 40, 0.04);
  border: 0;
}

.btn-show-more {
  padding: 11px 25px;
  font-weight: 600;
  border-radius: 8px;
}

.card-footer {
  background-color: transparent;
  padding: 0;
}

.post-title {
  font-weight: 700;
  color: #343f52;
  word-spacing: 0.1rem;
  letter-spacing: -0.01rem;
  font-size: 14px;
  line-height: 1.1rem;
}

.list-group-item-2 {
  margin-top: 10px;
}

.card-num {
  color: #f0ad4e;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.footer-logo-desc {
  color: #fff;
  font-size: 0.6875em;
  padding-left: 42px;
}

.footer-btn {
  font-weight: 500;
  padding: 12px 26px;
}

.footer-contact-link:hover {
  color: #4aac33;
}

.footer-mail-link,
.footer-site-link {
  position: relative;
  line-height: 1;
}

.footer-mail-link::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  content: "";
  transition: width 0.2s ease-out;
}

.footer-mail-link:hover::after,
.footer-mail-link:focus::after {
  width: 100%;
}

.btn-primary {
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.155);
}

.dropdown-social-icons {
  position: fixed;
  display: grid;
  z-index: 100;
  right: 15px;
  bottom: 15px;
}

.dropdown-menu-nav {
  margin: 0;
  list-style: none;
  background-color: #fff;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.15);
  border-radius: 36px;
  padding: 0 8px;
}

.item-dropdown {
  padding: 8px 0;
}

.item-dropdown-close {
  display: none;
}

.weather-widget {
  color: #252525;
  position: fixed;
  bottom: 15px;
  left: 15px;
  background-color: rgba(107, 244, 141, 0.3058823529);
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-info {
  text-align: center;
}

.location {
  font-size: 18px;
  margin-bottom: 10px;
}

.temperature {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.condition {
  font-size: 16px;
}

@media (max-width: 1200px) {
  .public-detail-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media (max-width: 1024px) {
  .form-search {
    display: none;
  }
  .btn-logo-dots {
    display: block;
  }
  .nav-item .disabled {
    display: none;
  }
  .header-middle {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  .header__bottom {
    display: none;
  }
  .public-hero-title {
    font-size: calc((100vw - 576px) / 744 * 10 + 20px);
  }
  .public-detail-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */